@keyframes sunAnimation {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }
    100% {
      transform: translate(-120px, calc(-50vh - -36px)) scale(1);
    }
  }
  
  .sun {
    animation: sunAnimation 1.5s ease-out forwards;
  }

  .day-gradient {
    background: linear-gradient(135deg, #1fc3ff 0%, #13e2bd 100%);
  }
  
  .night-gradient {
    background: linear-gradient(135deg, #141e30 0%, #243b55 100%);
  }
  
  .evening-gradient {
    background: linear-gradient(135deg, #ff6e7f 0%, #bfe9ff 100%);
  }